to attrs=userPassword
  by self =xw
  by anonymous auth
  by * none
  
to dn.subtree="ou=mail,dc={{ ldap.domain | regex_replace('\\.', ',dc=') }}"
  by dn.base="cn=mailAccountReader,dc={{ ldap.domain | regex_replace('\\.', ',dc=') }}" read
  by * none